@model Student

<label>Име:</label>
<input>
<br>
<label>Фамилия:</label>
<input>
<br>
<label>ЕГН:</label>
<input>
<br>
<label>Рождена дата:</label>
<input>
<br>
<input type="submit" name="submit" value="Запиши">
