@model Student

<label>Име:</label>
<input asp-for="firstname">
<br>
<label>Фамилия:</label>
<input asp-for="lastname">
<br>
<label>Fa:</label>
<input asp-for="fn">
<br>
<label>Рождена дата:</label>
<input asp-for="birthday">
<br>
<input type="submit" name="submit" value="Запиши">
