@model Student
@{
    ViewData["Title"] = "Редакция на студент";
}

<div>@TempData["message"]</div>
<div>
    <form method="post">
        <partial name="_StudentForm" />
    </form>
</div>

